.App {
  text-align: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

.headerMenu {
  display: flex;
  flex-direction: row;
}

.heroSection {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.selfie {
  width: 300px;
  height: auto;
  margin: auto 50px;
}
.about {
  width: 70%;
}
