/*RESET*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset margins*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.App {
  /* colors */
  /* --clr-dark: #19574f;
  --clr-light: #668a7f; */

  /* Orange on Blue Pallette */
  --clr-darkblue: #11224D;
  --clr-blue: #193A6F;
  --clr-lightblue: #2c599d;
  --clr-verylightblue: #5b84c4;
  --clr-orange:#f98125;
  --clr-lightorange: #fb9b50;

  --bg-gradient-blue: linear-gradient(90deg, rgba(17, 34, 77, 1) 0%, rgba(25, 58, 111, 1) 50%, rgba(44, 89, 157, 1) 100%);
  --bg-gradient-blue-reverse: linear-gradient(270deg, rgba(17, 34, 77, 1) 0%, rgba(25, 58, 111, 1) 50%, rgba(44, 89, 157, 1) 100%);
  --bg-gradient-orange: linear-gradient(90deg, rgba(255, 126, 26, 1) 0%, rgba(250, 182, 23, 1) 100%);
  --bg-gradient-blue-vertical: linear-gradient(1deg, rgba(17, 34, 77, 1) 0%, rgba(91, 132, 196, 1) 100%);
  --bg-gradient-blue-conical: conic-gradient(from 180deg at 50% 25%, rgba(44, 89, 157, 1) 0%, rgba(25, 58, 111, 1) 100%);
  --bg-gradient-blue-contact-mobile: linear-gradient(354deg, rgba(91, 132, 196, 1) 0%, rgba(17, 34, 77, 1) 100%);
  /* text color */

  --tclr-dark: #e1e2d3;
  --txt-clr-light: #d3e0f2;

  /* fonts */
  --font-logo: 'Audiowide', cursive;
  --font-ysabeau: 'Ysabeau SC', sans-serif;

  /* font sizes */
  --fs-h1: clamp(2rem, 0.627rem + 5.8581vw, 10rem);
  --fs-h2: clamp(1.5rem, 1.2426rem + 1.0984vw, 3rem);
  --fs-p: clamp(1rem, 0.7426rem + 1.0984vw, 2.5rem);

  text-align: center;
}

html {
  scroll-behavior: smooth;
}

h2 {
  padding: 0.5em;
}
.flex {
  display: flex;
}

section {
  min-height: 100vh;
  min-height: 100dvh;
}

li {
  list-style: none;
  margin-left: -1.5rem;
}


.gradient__text {
  background: var(--bg-gradient-orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}