.App {
  text-align: center;
}

/*Header*/

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

.headerMenu {
  display: flex;
  flex-direction: row;
}
/*Hero section*/
.heroSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.selfie {
  max-width: 100%;
  height: auto;
}

/*Footer*/
footer {
  background-color: green;
  margin-top: 50px;
  padding: 30px;
}
.footerImg {
  width: 40px;
  height: auto;
}
