
.primary-header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-darkblue);
    position: fixed;
    z-index: 200;
    width: 100%;
  }
  
  .primary-navigation {
    list-style: none;
    margin: 0;
    padding-inline: 1rem;
    align-items: center;
    border: 0;
    margin-right: 3rem;
  }
  
  .primary-navigation a {
    text-decoration: none;
  }
  .primary-navigation a:hover {
    color: var(--clr-orange);
  }
  
  .primary-navigation a > span {
    font-weight: 700;
    margin-right: 0.5rem;
  }
  
  .mobile-nav-toggle svg, .mobile-nav-toggle{
    display: none;
  }
  
  @media (max-width: 600px) {
    .primary-navigation {
      position: fixed;
      z-index: 100;
      inset: 0 0 0 0%;
      background: var(--clr-blue);
      /* opacity: 1; */
      list-style: none;
      padding: 10rem 2rem;
      margin: 0;
      align-items: center;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 50ms ease-in-out;
      line-height: 3;
      font-weight: bold;
      font-size: 2rem;
    }
  
    .primary-navigation[data-visible="true"] {
      transform: translateX(0);
    }
    .mobile-nav-toggle[aria-expanded="true"] {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 2rem;
      right: 1rem;
      filter: invert(0.8);
    }
  
    .mobile-nav-toggle {
      display: flex;
      position: absolute;
      z-index: 200;
      right: 2rem;
      background: none;
      border: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 2rem;
      aspect-ratio: 1;
      filter: invert(0.5);
    }
    .mobile-nav-toggle svg {
      display: inline;
    }
  }
  
  .primary-navigation > a {
    color: var(--clr-verylightblue);
  }
  
  .logo {
    color: var(--clr-orange);
    font-family: var(--font-logo);
    margin: 1rem 2rem;
    font-size: clamp(1rem, 0.5897rem + 1.8757vw, 3rem);
    letter-spacing: 0.08em;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-dark);
  }
  
  .headerMenu {
    display: flex;
    flex-direction: row;
  }